# CARPETAS Y ARCHIVOS TEMPORALES DE VISUAL STUDIO
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vsp
*.vshost.*
*.vsl
*.dbmdl
*.log
*.vsidx

# ARCHIVOS DE COMPILACIÓN Y BINARIOS
# Estos archivos se regeneran al compilar, no deben subirse.
[Dd]ebug/
[Rr]elease/
bin/
obj/
*.exe
*.pdb
*.cache


# ARCHIVOS DE PAQUETES Y DEPENDENCIAS (NuGet)
packages/
*.nupkg
*.lock.json
project.lock.json

# EXCEPCIÓN PARA GUNA UI FRAMEWORK:
# **¡IMPORTANTE!** Revisa que esta ruta coincida exactamente con la ubicación
# de la carpeta donde tienes guardado Guna en tu repositorio local.

!Recursos/Guna_UI_Framework_Ultimate_v2.0.0.1/Guna.UI-Framework-Lib-master/**

# PERMITIR TODAS LAS DLLs DEL PROYECTO
!**/*.dll
!**/*x64/
!**/*x86/

# ARCHIVOS DEL SISTEMA OPERATIVO
[Tt]humbs.db
[Ee]hthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/